@media (max-width: 800px) {
	:host(.boton-responsive ) [part="label"] {
		display: none;
	}
	:host(.boton-responsive ) [part="prefix"] {
		margin: 0;
	}
	:host(vaadin-button.boton-responsive) {
		min-width: var(--lumo-button-size);
		padding-left: calc(var(--lumo-button-size)/4);
		padding-right: calc(var(--lumo-button-size)/4);
	}
}

.vaadin-button-container {
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
}

:host(.boton-txt-izq) .vaadin-button-container {
	justify-content: start;
}
